body{
    position: absolute;
    
    background: #F8FBFF;
    opacity: 0.8;
    margin:auto;

}

h1{
    left: 200px;
    top: 200px;
    position: absolute;
    width: 428px;
    height: 286px;

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    line-height: 70px;

    color: #000000;

  
}

a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
    
a:hover {
    text-decoration: underline;
}

#blobs{
    margin-top:30px;
    margin-left: 900px;
}

.banner{
    position: absolute;
    width: 1707px;
    height: 51px;
    padding: 0;
    margin-top:0;    
    background: #b3b2b25e;  
    position: relative;  
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.banner img{
    position: absolute;
    top:18px;
    left: 60px;
}

.banner p{
    position: relative;
    font-family: Helvetica;
    padding: 0;
    margin:0;
    top: 18px;
    left: 1200px;
    width: 450px;  
}



.start_button{
    position:absolute;
    top: 600px;
    left: 200px;

    background-color: #ec5862ee;
    width: 375px;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    font-family: Helvetica; 

    font-size: 25px;
    border: none; 
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);

}
.start_button:hover{
    border: none;
    background: orange;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor:pointer;
    
}


.central{
    position: relative;
    top: 75px;
    width: 1300px;
    height: 400px;

    background: rgba(0, 0, 0, 0.13);
    border-radius: 20px;
    margin: 0 auto;
}
.central p{ 
    position:absolute;
    width: 1000px;
    margin: 0;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 25px;
    font-family: Helvetica;
}

#b1{
    position:absolute;
    top: 550px;
    left: 628.5px;

    background-color: #ec586280;
    width: 450px;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
}

#b1:hover {
    border: none;
    background: orange;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor:pointer;
   }

#b2a{
    position:absolute;
    top: 550px;
    left: 303.5px;

    background-color: #ec586280;
    width: 450px;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    font-family: Helvetica; 
    font-size: 20px;
    border: none;   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);

}
#b2a:hover {
    border: none;
    background: orange;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor:pointer;
   }

#b2b{
    position:absolute;
    top: 550px;
    left: 953px;

    background-color: #ec586280;
    width: 450px;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);

}
#b2b:hover {
    border: none;
    background: orange;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor:pointer;
   }

#b3a{
    position:absolute;
    top: 550px;
    left: 203.5px;

    background-color: #ec586280;
    width: 375px;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);

    
}
#b3a:hover {
    border: none;
    background: orange;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor:pointer;
   }

#b3b{
    position:absolute;
    top: 550px;
    left: 666px;

    background-color: #ec586280;
    width: 375px;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);

}
#b3b:hover {
    border: none;
    background: orange;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor:pointer;
   }

#b3c{
    position:absolute;
    top: 550px;
    left: 1128.5px;

    background-color: #ec586280;
    width: 375px;
    padding: .5em;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 12px;
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: 20px;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);

}
#b3c:hover {
    border: none;
    background: orange;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor:pointer;
   }
  