{%extends "base.html" %}
{%block content%} 
<div class = "central">
    <p>
        Your parents see the alien and
        completely freak out. Your father
        grabs his gun and tries to shoot
        the alien but the alien is too fast. It
        grabs the gun from your father and
        shoots your entire family. You die.
        GAME OVER
    </p>
</div>

<div class = "options">
        <a href="{{url_for('GameOver')}}">
            <br> <button id = "b1">PRESS ME</button> 
        </a>
        
</div>   

{% endblock %}