{%extends "base.html" %}
{%block content%} 
<div class = "central">
    <p>
        You hear a knock on your door
        shortly. It's 2 people in black suits:
        the government. One agent grabs
        the alien while the other holds a
        small version of the blinking white
        light up to your face. FLASH. The
        light is a mind wipe machine. You
        remember nothing but your given
        purpose and life returns to normal.
        GAME OVER
    </p>
</div>

<div class = "options">
        <a href="{{url_for('L1R2L3')}}">
            <br> <button id = "b1"><b>PRESS ME</b>  </button> 
        </a>
        
        
</div>   

{% endblock %}