{%extends "base.html" %}
{%block content%} 
<div class = "central">
    <p>
        You head back to your room, trying
        to understand what you just saw.
        When you open the door, however,
        the alien is there. You scream in
        surprise, eyes widening in fear.
    </p>
</div>

<div class = "options">
        <a href="{{url_for('L1R2L3')}}">
            <br> <button id = "b1">This is all too much to handle and
                you're scared. You pick up the
                telephone and call the only
                number you're allowed to call: the
                government. You tell the
                telephone representative that you
                have an alien in your home and
                beg them to do something about
                it.</button> 
        </a>
     
        
        
</div>   

{% endblock %}