{%extends "base.html" %}
{%block content%} 
<div class = "central">
    <p>
        You know what the alien is saying is
        wrong. There's nothing wrong with
        your world! You need to report
        this, so you pick up the phone and
        call the only number you're
        allowed to call: the government.
        You tell the telephone
        representative that you have an
        alien with you who plans on taking
        over the world and beg them to do
        something about it.
    </p>
</div>

<div class = "options">
        <a href="{{url_for('L1R2L3')}}">
            <br> <button id = "b1">You know what the alien is saying is
                wrong. There's nothing wrong with
                your world! You need to report
                this, so you pick up the phone and
                call the only number you're
                allowed to call: the government.
                You tell the telephone
                representative that you have an
                alien with you who plans on taking
                over the world and beg them to do
                something about it</button> 
        </a>       
        
        
</div>   

{% endblock %}