{%extends "base.html" %}
{%block content%} 
<div class = "central">
    <p>
       The	next	step	of	the	mission	is	to	
infiltrate	your	government's	HQ.	They	
teleport	you	there	and	suddenly	you	are	
standing	on	a	plush,	red	carpet.	You	
never	imagined	anything	so	political	to	
look	so	regal,	but	it	seems	to	confirm	the	
alien's	story	in	your	mind.	The	alien	urges	
you	too	keep	moving.	Now	that	you're	in,	
you	need	to	move	quickly.

    </p>
</div>

<div class = "options">
        <a href="{{url_for('L1R6L1')}}">
            <br> <button id = "b3a">Being	in	your	government's	
headquarters	makes	this	all	too	
real.	You	start	screaming,	unable	
to	express	how	you	feel	in	
words.	Your	world	is	breaking	
down	around	you	and	you	can't	
handle	it.</button> 
        </a>
        <a href="{{url_for('L1R6M1')}}">
            <br> <button id = "b3b">You	have	brought	the	
alien	here	intentionally,	
leading	it along.	You	need	
to	get	a	warning	out.	Now	
that	it	is	in	a	government	
building,	you	call	the	
guards	and	explain	what	is	
happening</button> 
        </a>
        <a href="{{url_for('L1R7')}}">
            <br> <button id = "b3c">
              You	creep	through	the	hallways	
with	the	alien,	sneaking	into	The	
Big	Room.	The	alien	explains	that	
this	room	is	where	all	the	mind	
wiping	is	controlled	from</button> 
        </a>
        
        
        
</div>   

{% endblock %}
