{%extends "base.html" %}
{%block content%} 
<div class = "central">
    <p>
       You succeed! The alien kills the leader and, together, 
      you take control of the government. You become an agent.

    </p>
</div>

<div class = "options">
        <a href="{{url_for('L1R7L1R1L1')}}">
            <br> <button id = "b3a">You live your life as an agent.
          </button> 
        </a>
        <a href="{{url_for('L1R7L1R1M1')}}">
            <br> <button id = "b3b">You get rid of the mindwiping system.
          </button> 
        </a>
        <a href="{{url_for('L1R7L1R2')}}">
            <br> <button id = "b3c">
             Try to fix the world and leave earth.
          </button> 
        </a>
        
        
        
</div>   

{% endblock %}
