{%extends "base.html" %}
{%block content%} 
<div class = "central">
    <p>
        You succeed in eradicating the mind wipe system. As more time passes, your memory of the past returns.
        You spend your life trying to make sense of history and the workings of the world along with the rest of 
        society.
    </p>
</div>

<div class = "options">
        <a href="{{url_for('GameOver')}}">
            <br> <button id = "b1"><b>PRESS ME</b></button> 
        </a>
        
</div>   

{% endblock %}