{%extends "base.html" %}
{%block content%} 
<div class = "central">
    <p>
       You succeed! The alien kills the leader and, together, 
      you take control of the government. You become an agent.

    </p>
</div>

<div class = "options">
        <a href="{{url_for('L1R7L1R1L1')}}">
            <br> <button id = "b3a">You live your life as an agent, keeping the world safe.
          You continue to enforce the mind wipers, finally recognizing, along with the rest 
          of the aliens, that they are necessary.
          </button> 
        </a>
        <a href="{{url_for('L1R7L1R1M1')}}">
            <br> <button id = "b3b">You get rid of the mindwiping system and 
          spend your life trying to make sense of history and the workings of the world
          </button> 
        </a>
        <a href="{{url_for('L1R7L1R2')}}">
            <br> <button id = "b3c">
             You finally understand that the world is corrupt beyond repair.
          You do what the previous government was too weak to do: kill everyone. 
          You leave Earth with the alien, becoming a social justice warrior with 
          them to save other worlds the way you have saved your own.
          </button> 
        </a>
        
        
        
</div>   

{% endblock %}
