{%extends "base.html" %}
{%block content%} 
<div class = "central">
    <p>
      You succeed! You kill the leader and,
      with the blood of your dead government on your hands, 
      you grin at the alien. You wonder what you are supposed to do now.

    </p>
</div>

<div class = "options">
        <a href="{{url_for('L1R7L1R1L1')}}">
            <br> <button id = "b2a">You live your life as an agent.
          </button> 
        </a>
        <a href="{{url_for('L1R7L1R2')}}">
            <br> <button id = "b2b">Try to fix the world and leave earth.
          </button> 
        </a>

        
        
        
</div>   

{% endblock %}
