{%extends "base.html" %}
{%block content%} 
<div class = "central">
    <p>
        You finally understand that the world is beyond repair. You do what the previous government
        was too weak to do: kill everyone. You leave earth with the alien, becoming a social justice warrior
        with them to save other worlds the way you have saved your own.
    </p>
</div>

<div class = "options">
        <a href="{{url_for('GameOver')}}">
            <br> <button id = "b1"><b>PRESS ME</b></button> 
        </a>
        
</div>   

{% endblock %}